.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
k8s/**
.git/**
.gitignore
.npmrc
.yarnrc
esbuild.js
vsc-extension-quickstart.md
pnpm-lock.yaml
pnpm-workspace.yaml
google-cloud-cli-darwin-arm.tar.gz
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CONTRIBUTING.md
